@page "/backward"
@using Malarkey.Abstractions

<form id="malarkey-authentication-form" target="@_targetUrl">
	<input 
		type="hidden"
		id="malarkey-backward-state"
		name="@MalarkeyConstants.AuthenticationSuccessParameters.StateName"
		value="@_returnState" />
	<input 
		type="hidden" 
		id="malarkey-backward-profile-token" 
		name="@MalarkeyConstants.AuthenticationSuccessParameters.ProfileTokenName" 
		value="@_profileToken" 
		/>
	@foreach(var ident in _identityTokens.Select((tok, indx) => (Token: tok, Index: indx))) 
	{
		<input 
			type="hidden" 
			id="malarkey-backward-identity-token-@(ident.Index)" 
			name="@MalarkeyConstants.AuthenticationSuccessParameters.IdentityTokenName(ident.Index)" 
			value="@(ident.Token)" />
	}
	
</form>

<script>
	window.submitData = () => {
		document.getElementById("malarkey-authentication-form").submit();
	}
</script>