@page "/profile"
@using Malarkey.Abstractions
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(AuthenticationSchemes = MalarkeyConstants.MalarkeyAuthenticationScheme)]


<div class="malarkey-profile-page-bg">
    <div class="malarkey-profile-container">
        <div class="malarkey-profile-header">Profile</div>
        <div class="malarkey-profile-image-container">
            <div class="malarkey-profile-image-frame"></div>
            <div class="malarkey-profile-image-container-inner">
                <div id="malarkey-profile-image" title="Profile image" style="background-image: url('images/profile/image-sample.png');" />
            </div>
        </div>
        <input type="file" id="malarkey-profile-image-input" title="Select profile image" />

        <div class="malarkey-profile-input-form">
            <div class="malarkey-profile-input-container">
                <label class="malarkey-profile-input-label" for="malarkey-profile-name">User ID</label>
                <div class="malarkey-profile-input-component">
                    <input type="text" class="malarkey-profile-input @ProfileNameExtraClass" id="malarkey-profile-name" @bind="ProfileName" />
                    @if (_profileNameError != null)
                    {
                        <div class="malarkey-profile-input-error">@_profileNameError</div>
                    }
                </div>
            </div>
            <div class="malarkey-profile-input-container">
                <label class="malarkey-profile-input-label" for="malarkey-profile-first-name">First name</label>
                <div class="malarkey-profile-input-component">
                    <input type="text" class="malarkey-profile-input" id="malarkey-profile-first-name" @bind="FirstName" />
                </div>
            </div>
            <div class="malarkey-profile-input-container">
                <label class="malarkey-profile-input-label" for="malarkey-profile-last-name">Last name</label>
                <div class="malarkey-profile-input-component">
                    <input type="text" class="malarkey-profile-input" id="malarkey-profile-last-name" @bind="LastName" />
                </div>
            </div>
            <div class="malarkey-profile-input-container">
                <label class="malarkey-profile-input-label" for="malarkey-profile-email">Email</label>
                <div class="malarkey-profile-input-component">
                    <div class="malarkey-profile-input-container">
                        <input type="email" class="@EmailClasses" id="malarkey-profile-email" @bind="PrimaryEmail" />
                        @if(CanSendVerifyEmail) {
                            <button id="malarkey-profile-send-verification-button" @onclick="OnSendVerificationEmailClicked" type="button">Send verification mail</button>
                        }

                    </div>
                    @if (_primaryEmailError != null)
                    {
                        <div class="malarkey-profile-input-error">@_primaryEmailError</div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if(_infoMessage != null) {
        <div class="malarkey-profile-flash-info">@_infoMessage</div>
    }

</div>